html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

body, html {
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.hero, .room, .night {
  opacity: .9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "hero" "info1" "room" "info2" "night"; }

.hero {
  background-image: url("../img/miami-day.jpg");
  min-height: 100%;
  grid-area: hero; }
  .hero .nav-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo . navi";
    padding: 10px 100px;
    border-bottom: 3px solid #C6BC98;
    background-color: rgba(0, 0, 0, 0.35); }
    .hero .nav-cont .logo {
      grid-area: logo;
      display: flex;
      align-items: center; }
      .hero .nav-cont .logo span {
        font-size: 2em;
        padding-left: 10px;
        font-weight: bold;
        color: white; }
    .hero .nav-cont .main-nav {
      grid-area: navi;
      justify-self: start;
      display: flex;
      align-items: center; }
      .hero .nav-cont .main-nav a {
        display: inline-block;
        margin-right: 90px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: 1px; }
      .hero .nav-cont .main-nav a:hover {
        color: black;
        opacity: 0.7; }
  .hero .hero-cont {
    text-align: center;
    padding: 0 300px;
    padding-top: 300px; }
    .hero .hero-cont h1 {
      color: white;
      font-size: 3.5em;
      font-weight: bold;
      margin-bottom: 30px; }
    .hero .hero-cont p {
      color: white;
      font-size: 1.5em;
      margin-bottom: 200px; }
    .hero .hero-cont a {
      color: white;
      text-transform: uppercase;
      font-size: 1.1em;
      opacity: 0.95;
      display: inline-block;
      border-radius: 2.5px;
      background: #e61c26;
      font-weight: 600;
      padding: 15px 40px;
      margin-bottom: 250px; }
    .hero .hero-cont a:hover {
      color: #e61c26;
      background: white;
      opacity: 1; }

.info1 {
  background-color: #f1efef;
  padding: 70px 250px;
  height: 200px;
  text-align: center; }
  .info1 h2 {
    font-size: 2.5em;
    color: #2d852a;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 25px; }
  .info1 p {
    line-height: 1.2;
    font-size: 1.25em; }

.room {
  grid-area: room;
  background-image: url("../img/room.jpg");
  height: 700px; }

.info2 {
  grid-area: info2;
  background-color: #f1efef;
  padding: 70px 250px;
  height: 200px;
  text-align: center; }
  .info2 h2 {
    font-size: 2.5em;
    color: #2d852a;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 25px; }
  .info2 p {
    line-height: 1.2;
    font-size: 1.25em; }

.night {
  grid-area: night;
  background-image: url("../img/miami-night.jpeg");
  height: 700px; }
