@import 'reset';

%background-img-common{
    min-height: 700px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    background-image: url("../img/miami-day.jpg");
    @extend %background-img-common;
}

.room{
    background-image: url("../img/room.jpg");
    @extend %background-img-common;
}

.night{
    background-image: url("../img/miami-night.jpeg");
    @extend %background-img-common;
}
